body {
  margin: 0;
}

.wrapper {
	margin: auto;
	width: 80%;
}

.header {
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
}

.logo{
	display: inline-block;
	width: 197px;
	height: 43px;
	background: url('img/logo.svg');
	position: relative;
}

.menu {
	display: flex;
	align-items: center;
}

.menu__item {
position: relative;
margin-right: 26px;
font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
color: #000;
text-decoration: none;
transition: opacity 0.5s;
}

.menu__item:last-child {
margin-right-right: 0;
}


.menu__item:hover {
opacity: 0.5;
}

.menu__item:hover:after {
position: absolute;
left: 0;
display: block;
content: "";
width: 0;
height: 3px;
background: #0056EC;
opacity: 0;
transition: opacity 0.5s, width 0.5s;
}


.menu__item_active::after {
position: absolute;
display: block;
content: "";
left: 0;
width: 0;
height: 3px;
background: #0056EC;
opacity: 0;
transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover:after, .menu__item_active::after {
opacity: 1;
width: 100%;
}

.menu, .main-content__subtitle, .main-content__button {
	font-family: 'roboto_medium', sans-serif;
}

.main-content__title {
	font-family:'pt_serifbold', serif;
}
